In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import gc
import sys

from pandas.io.json import json_normalize
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import os
os.getcwd()

'/home/mrk_ram108/Kaggle'

In [2]:
def load_df(csv_path, nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path, 
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [str(column)+"."+str(subcolumn) for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    print("Loaded {os.path.basename(csv_path)}. Shape: {df.shape}")
    return df

In [3]:
#train = load_df(os.getcwd()+'/train.csv')
#test = load_df(os.getcwd()+'/test.csv')

#### Saving CSV files

In [4]:
#train.to_csv('train_extracted.csv',encoding='utf8')
#test.to_csv('test_extracted.csv', encoding = 'utf8')

## Reading the data
train = pd.read_csv('train_extracted.csv',encoding='utf8',dtype={'fullVisitorId': 'str'})
test = pd.read_csv('test_extracted.csv', encoding = 'utf8',dtype={'fullVisitorId': 'str'})

/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Combining train and test data

In [5]:
train['data_source'] = 'train'
test['data_source'] = 'test'

all_data = pd.concat([train,test], axis = 0)

/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [6]:
all_data.shape

(1708337, 57)

#### Emtpy values

In [7]:
100 * float(train['totals.transactionRevenue'].isnull().sum())/len(train['totals.transactionRevenue'])

98.72572768529513

#### Analysis

In [8]:
all_data.drop([u'Unnamed: 0'], axis = 1, inplace = True)
all_data.head()

,channelGrouping,data_source,date,device.browser,device.browserSize,device.browserVersion,device.deviceCategory,device.flashVersion,device.isMobile,device.language,...,trafficSource.campaign,trafficSource.campaignCode,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source,visitId,visitNumber,visitStartTime
0,Organic Search,train,20160902,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,...,(not set),NaN,NaN,(not provided),organic,NaN,google,1472830385,1,1472830385
1,Organic Search,train,20160902,Firefox,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,...,(not set),NaN,NaN,(not provided),organic,NaN,google,1472880147,1,1472880147
2,Organic Search,train,20160902,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,...,(not set),NaN,NaN,(not provided),organic,NaN,google,1472865386,1,1472865386
3,Organic Search,train,20160902,UC Browser,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,...,(not set),NaN,NaN,google + online,organic,NaN,google,1472881213,1,1472881213
4,Organic Search,train,20160902,Chrome,not available in demo dataset,not available in demo dataset,mobile,not available in demo dataset,True,not available in demo dataset,...,(not set),NaN,True,(not provided),organic,NaN,google,1472822600,2,1472822600

In [9]:
all_data.visitNumber.describe()

count    1.708337e+06
mean     2.335170e+00
std      9.354034e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      4.570000e+02
Name: visitNumber, dtype: float64

#### Finding columns with just one value in it

In [10]:
### Selecting columns with just one unique value and those with NULL values greater than 50% of the dataset
drop_columns = [each for each in all_data.columns if len(train[each].unique()) <= 2 or all_data[each].isnull().sum() > 0.5 * all_data.shape[0]]
drop_columns = [each for each in drop_columns if each not in ['totals.transactionRevenue','data_source']]

#### Response variable

In [11]:
all_data['totals.transactionRevenue'] = pd.to_numeric(all_data['totals.transactionRevenue'])
all_data['totals.transactionRevenue'].describe()

count    1.151500e+04
mean     1.337448e+08
std      4.482852e+08
min      1.000000e+04
25%      2.493000e+07
50%      4.945000e+07
75%      1.076550e+08
max      2.312950e+10
Name: totals.transactionRevenue, dtype: float64

In [12]:
all_data_upd = all_data.drop(drop_columns, axis = 1)

In [13]:
for each in all_data_upd.columns:
    print(each)
    print(all_data_upd[each].value_counts())
    print("\n")

channelGrouping
Organic Search    738963
Social            354971
Direct            273134
Referral          211307
Display            51283
Paid Search        45627
Affiliates         32915
(Other)              137
Name: channelGrouping, dtype: int64


data_source
train    903653
test     804684
Name: data_source, dtype: int64


date
20171212    9234
20171213    9131
20171004    5122
20170920    4880
20161128    4807
20170921    4715
20161115    4685
20171005    4679
20161114    4466
20161130    4435
20180321    4434
20161026    4375
20161129    4337
20161116    4334
20161004    4322
20161205    4265
20171017    4258
20180327    4227
20170426    4224
20161201    4200
20171127    4194
20161027    4162
20161121    4143
20171108    4136
20161117    4074
20161024    4063
20161110    4055
20171006    4033
20161103    4014
20180226    3989
            ...
20170430    1594
20161001    1589
20161226    1586
20170115    1576
20170429    1566
20170611    1555
20170204    1549
20170423    1548
20170610    1545
20170604    1534
20170114    1526
20170205    1522
20170624    1510
20170416    1507
20170415    1506
20170527    1502
20171231    1495
20170528    1463
20170618    1432
20170507    1400
20170603    1399
20170617    1391
20161225    1386
20170506    1383
20170101    1364
20170514    1290
20170513    1251
20161230    1232
20161224    1231
20161231    1211
Name: date, Length: 638, dtype: int64


device.browser
Chrome                                                  1173056
Safari                                                   312165
Firefox                                                   63845
Internet Explorer                                         35474
Android Webview                                           34266
Edge                                                      20543
Samsung Internet                                          15792
Opera Mini                                                15018
Safari (in-app)                                           14207
Opera                                                      9585
UC Browser                                                 5313
YaBrowser                                                  3045
Amazon Silk                                                1467
Coc Coc                                                    1242
Android Browser                                             941
Mozilla Compatible Agent                                    663
MRCHROME                                                    308
Maxthon                                                     287
Puffin                                                      251
BlackBerry                                                  243
Nintendo Browser                                            165
Nokia Browser                                                96
Iron                                                         40
osee2unifiedRelease                                          27
SeaMonkey                                                    26
Mozilla                                                      22
LYF_LS_4002_12                                               21
Seznam                                                       18
Apple-iPhone7C2                                              16
Playstation Vita Browser                                     15
                                                         ...
;__CT_JOB_ID__:85da5736-a78e-45a9-837e-f5a53e5cd725;          1
Hisense M20-M_LTE                                             1
;__CT_JOB_ID__:a80e8e16-6e98-455b-885a-a4dd40f3d344;          1
ecgiwapzltrkujdhmqsbxfonvy                                    1
hbijxvdyrgnatwzmlcpkfusqoe                                    1
subjectAgent: NoticiasBoom                                    1
lxjwoyfivgdbkqtuzsrmhencpa                                    1
wdhtapevfnqzskcroxgjmiybul                                    1
ohukwejvqmdtibfrzpycgxanls                                    1
flobzsdixhuwqakptjmcrveygn                                    1
;__CT_JOB_ID__:2e0eca60-83ab-482d-bb81-343d113254fb;          1
kqebrzuwmiycxdvtoljnhsfpga                                    1
ighfsbrmpoctzjqxlywdenvuka                                    1
wvsmagudcqeytijorlhxnfzkbp                                    1
;__CT_JOB_ID__:fe02e46f-b6ae-41f1-8563-3b40bbb623a9;          1
Changa 99695759                                               1
starmaker                                                     1
ohfgqlpiuyknvmbctszjarxdwe                                    1
ejpxuidzlmagvthsfbqnkwyocr                                    1
epxmjusghnvircdfkwqlotzbay                                    1
;__CT_JOB_ID__:6e9dcf2f-f58f-4938-91e3-77e00868177b;          1
;__CT_JOB_ID__:a7ed0808-e70c-4b19-b1a3-1018bbb7dc7f;          1
jdbknvrluyeaxoipgwczmthsqf                                    1
fspmihbxzowgnuctrqykjlvade                                    1
wncrmxukofqljsgvzahiybpdet                                    1
flwadqukonrjegpbisyxztvhcm                                    1
ymzsbiduaejrchvxlwkfnqgtop                                    1
;__CT_JOB_ID__:2547db0b-ec43-452a-a0d4-ff42b7dc7907;          1
TCL P500M                                                     1
;__CT_JOB_ID__:a4f837b8-8d78-4c42-ba9a-d870cf1a4a7e;          1
Name: device.browser, Length: 129, dtype: int64


device.deviceCategory
desktop    1171579
mobile      471336
tablet       65422
Name: device.deviceCategory, dtype: int64


device.operatingSystem
Windows             619720
Macintosh           438514
Android             299386
iOS                 219334
Linux                63971
Chrome OS            51318
(not set)            11815
Windows Phone         1675
Samsung                911
Tizen                  709
BlackBerry             350
OS/2                   199
Xbox                   133
Nintendo Wii           100
Firefox OS              97
Nintendo WiiU           51
FreeBSD                 18
Playstation Vita        15
Nintendo 3DS             9
SunOS                    3
Nokia                    3
OpenBSD                  3
SymbianOS                2
NTT DoCoMo               1
Name: device.operatingSystem, dtype: int64


fullVisitorId
1957458976293878100    400
7282998257608986241    315
3884810646891698298    268
0824839726118485274    258
7477638593794484792    218
3608475193341679870    201
1856749147915772585    199
0720311197761340948    180
0348420048060754000    177
7498695963354635199    172
0232377434237234751    167
460252456180441002     162
3269834865385146569    157
7122741899604173060    154
1322101426801959631    153
8839221334461540297    152
7634897085866546110    148
0603203541488487946    148
3694234028523165868    139
4038076683036146727    138
7445235885559107095    138
185123961166899959     130
9801276214964695322    130
0949718915643445721    128
0827807801897731454    127
3525537916960843419    126
5211936831694160345    120
705991343467703841     119
6254908847172458133    117
9609104828919391966    114
                      ...
0226924093252704236      1
4036218973508212963      1
2843202752842612685      1
2163270576439633221      1
5754890367530484229      1
3824172859970889258      1
7698408425513109738      1
8049953968692988561      1
4791312272380146932      1
7800303917906312927      1
2075719376062131983      1
1958071257444476950      1
571797777261951135       1
1138295231066411470      1
727183103892425201       1
276994959982877989       1
8044896942626672944      1
4651465520712243018      1
518794172835578420       1
0308429344843696259      1
4247181488782168692      1
8394291107426588816      1
25809847573323043        1
3567377933171892345      1
435267415924452802       1
9114944083212892769      1
0200022183802504206      1
411716527312749253       1
469789953047461570       1
9927106971581950897      1
Name: fullVisitorId, Length: 1323730, dtype: int64


geoNetwork.city
not available in demo dataset    932959
Mountain View                     74110
(not set)                         65867
New York                          49460
San Francisco                     36960
Sunnyvale                         27923
London                            23622
San Jose                          20141
Los Angeles                       17038
Chicago                           15143
Bangkok                           12468
Bengaluru                         11428
Ho Chi Minh City                  10393
Toronto                           10196
Istanbul                           9827
Seattle                            9566
Dublin                             9436
Sydney                             8951
Mumbai                             8563
Hyderabad                          8353
Paris                              8094
Chennai                            8046
Sao Paulo                          7828
Austin                             7289
Hanoi                              6966
Santa Clara                        6475
Singapore                          6475
Jakarta                            6431
Hong Kong                          6278
New Delhi                          6177
                                  ...
North Attleborough                    6
Tallahassee                           6
Braga                                 6
Culver City                           6
Rancho Cucamonga                      6
Watford                               6
Basildon                              6
Zwolle                                6
Aydin                                 6
Largo                                 6
Miami Shores                          6
Natal                                 6
Kobe                                  6
Flemington                            6
Amherst                               6
Clermont-Ferrand                      6
Innsbruck                             6
Dar es Salaam                         6
Thousand Oaks                         6
Long Beach                            5
Croydon                               5
Kumamoto                              5
Getzville                             5
Deep River                            5
Millbrae                              5
North Creek                           4
Morgan Hill                           4
Daly City                             4
Chandler                              3
Boise                                 3
Name: geoNetwork.city, Length: 956, dtype: int64


geoNetwork.continent
Americas     877403
Asia         396719
Europe       368037
Africa        35481
Oceania       28180
(not set)      2517
Name: geoNetwork.continent, dtype: int64


geoNetwork.country

United States               717217
India                       105317
United Kingdom               73341
Canada                       51057
Germany                      38516
Japan                        36637
Brazil                       35432
Vietnam                      34869
France                       32289
Thailand                     29859
Turkey                       29166
Taiwan                       26560
Mexico                       25270
Australia                    23660
Spain                        23431
Netherlands                  22146
Italy                        20694
Russia                       19641
Indonesia                    16675
Poland                       15874
Philippines                  14272
Singapore                    13294
Ireland                      12287
South Korea                  11563
Malaysia                     10820
Argentina                    10128
Sweden                        9895
Ukraine                       9859
Romania                       9589
Israel                        9449
                             ...
San Marino                      12
Sint Maarten                    12
St. Kitts & Nevis               11
Caribbean Netherlands           10
Guinea-Bissau                    9
British Virgin Islands           7
Central African Republic         6
Isle of Man                      6
Equatorial Guinea                5
St. Martin                       5
Seychelles                       4
Comoros                          4
Vanuatu                          4
Dominica                         4
Cook Islands                     3
American Samoa                   2
Marshall Islands                 2
St. Barthélemy                   2
Tonga                            1
St. Pierre & Miquelon            1
Samoa                            1
São Tomé & Príncipe              1
Micronesia                       1
Eritrea                          1
Montserrat                       1
St. Helena                       1
Anguilla                         1
Åland Islands                    1
Norfolk Island                   1
Solomon Islands                  1
Name: geoNetwork.country, Length: 228, dtype: int64


geoNetwork.metro
not available in demo dataset         932959
(not set)                             386896
San Francisco-Oakland-San Jose CA     182745
New York NY                            50419
London                                 23643
Los Angeles CA                         19953
Chicago IL                             15300
Seattle-Tacoma WA                      15251
Austin TX                               7289
Washington DC (Hagerstown MD)           7021
Boston MA-Manchester NH                 5868
Dallas-Ft. Worth TX                     5787
Houston TX                              5704
Atlanta GA                              5464
Detroit MI                              4517
JP_KANTO                                4343
San Diego CA                            3484
Philadelphia PA                         2837
Roanoke-Lynchburg VA                    2674
Denver CO                               2572
Pittsburgh PA                           2131
Charlotte NC                            1911
Portland OR                             1805
Phoenix AZ                              1508
Orlando-Daytona Beach-Melbourne FL      1425
San Antonio TX                          1399
North West                               909
Miami-Ft. Lauderdale FL                  815
Columbus OH                              775
Nashville TN                             774
                                       ...
Toledo OH                                 20
Panama City FL                            20
HTV Wales                                 20
East Of England                           20
Springfield MO                            17
Colorado Springs-Pueblo CO                16
Wheeling WV-Steubenville OH               14
Providence-New Bedford,MA                 14
Charlottesville VA                        13
Monterey-Salinas CA                       13
Anchorage AK                              12
Erie PA                                   11
Greenville-New Bern-Washington NC         10
Abilene-Sweetwater TX                     10
Flint-Saginaw-Bay City MI                  9
Wichita-Hutchinson KS                      9
Mankato MN                                 9
Ft. Wayne IN                               8
Tri-Cities TN-VA                           8
Lubbock TX                                 7
Syracuse NY                                7
Richmond-Petersburg VA                     7
Augusta GA                                 7
Dayton OH                                  6
Springfield-Holyoke MA                     6
Rochester-Mason City-Austin,IA             6
Des Moines-Ames IA                         6
Tallahassee FL-Thomasville GA              6
Champaign & Springfield-Decatur IL         6
Buffalo NY                                 5
Name: geoNetwork.metro, Length: 123, dtype: int64


geoNetwork.networkDomain
(not set)                499049
unknown.unknown          269796
comcast.net               55486
rr.com                    28715
verizon.net               26547
ttnet.com.tr              17078
comcastbusiness.net       16826
hinet.net                 15933
virginm.net               12594
cox.net                   10722
sbcglobal.net             10596
google.com                 9997
prod-infinitum.com.mx      9925
optonline.net              9734
att.net                    9255
btcentralplus.com          9152
rima-tde.net               8078
3bb.co.th                  7832
vnpt.vn                    7662
asianet.co.th              7067
qwest.net                  6945
totbb.net                  6828
telecomitalia.it           6405
t-ipconnect.de             6117
airtelbroadband.in         5991
bell.ca                    5956
pldt.net                   5753
virtua.com.br              5399
bhn.net                    5363
amazonaws.com              5039
                          ...
crevision.es                  1
clubbfinance.com              1
tnt-tv.ru                     1
subway.com                    1
clinic.co.uk                  1
remoltd.com                   1
nite.go.jp                    1
domonet.ua                    1
acs.com.sa                    1
ebold.co.kr                   1
chicagoobgyn.com              1
koetter.de                    1
cept.ac.in                    1
verrus.com                    1
ttgasia.com                   1
asmeg.org                     1
eurocargo.hk                  1
gruppoterra.it                1
megacorpinc.com               1
ctcd.edu                      1
eszterhaza.hu                 1
harpercreek.net               1
ipsos.com                     1
globecast.com                 1
e-commercepark.com            1
isillc.com                    1
fineco.it                     1
qtsdatacenters.com            1
digitalstudioslab.com         1
rrdsb.com                     1
Name: geoNetwork.networkDomain, Length: 41982, dtype: int64


geoNetwork.region
not available in demo dataset    932959
California                       206669
(not set)                         49774
New York                          49733
England                           25824
Texas                             20480
Washington                        15372
Illinois                          15352
Maharashtra                       13634
Bangkok                           12468
Taipei City                       11901
Ontario                           11655
Karnataka                         11447
Delhi                             11218
Istanbul                           9827
Tamil Nadu                         9395
Ile-de-France                      8962
New South Wales                    8957
Telangana                          8374
County Dublin                      8187
State of Sao Paulo                 7969
Ho Chi Minh                        7250
Hanoi                              7075
Tokyo                              6968
Jakarta                            6431
Massachusetts                      5877
Tel Aviv District                  5849
District of Columbia               5700
Seoul                              5683
Georgia                            5477
                                  ...
Kyoto Prefecture                      6
Erzurum                               6
Queretaro                             6
Jonkoping County                      6
Binh Phuoc                            6
Gifu Prefecture                       6
Beni Suef Governorate                 6
State of Rio Grande do Norte          6
Rhone-Alpes                           6
Nord-Pas-de-Calais                    6
Maha Sarakham                         6
Split-Dalmatia County                 6
Hyogo Prefecture                      6
Tyrol                                 6
Ha Tinh Province                      6
Phu Tho Province                      6
Gharbia Governorate                   6
Aydin Province                        6
Hradec Kralove Region                 6
Beirut Governorate                    6
Oran Province                         6
Eskisehir Province                    6
Mendoza Province                      6
Bamako Capital District               6
Lopburi                               6
Abruzzo                               6
Thuringia                             6
Apulia                                6
Irbid Governorate                     6
Kumamoto Prefecture                   5
Name: geoNetwork.region, Length: 483, dtype: int64


geoNetwork.subContinent
Northern America      768345
Southeast Asia        121634
Southern Asia         121062
Western Europe        115153
Northern Europe       111693
Eastern Asia           91072
South America          75112
Eastern Europe         74007
Southern Europe        67184
Western Asia           60966
Central America        29564
Australasia            27867
Northern Africa        17255
Western Africa          7086
Southern Africa         6019
Caribbean               4382
Eastern Africa          4194
(not set)               2517
Central Asia            1985
Middle Africa            927
Melanesia                133
Micronesian Region       128
Polynesia                 52
Name: geoNetwork.subContinent, dtype: int64


sessionId

6578231451745091419_1512114073    2
128747466653784455_1479283175     2
22780653525416747_1511683082      2
1125646319189533585_1489219057    2
4357202989256557726_1500188130    2
3354399941800427193_1481355758    2
6187281368753177854_1471935527    2
697400110005038316_1472021848     2
2719373285682504427_1474009073    2
1692266033849940301_1520582070    2
8775495552152201078_1501657013    2
0982833231079207283_1496905133    2
8850375778604812895_1481874986    2
3514720393317202630_1514706758    2
1112657102058195092_1470380158    2
0049220146968431383_1472626229    2
5155411368235514331_1495349915    2
9328692348677910181_1490338007    2
1281779287366182489_1510991898    2
0405996727678488611_1500187709    2
4274511861314211339_1500015203    2
1555790315581935845_1475131695    2
2405822934418209148_1505458219    2
5997647927187253437_1510214247    2
7094476618461750872_1516867182    2
8907178468365394504_1524466316    2
7483600664917507409_1519545171    2
1748279244392362923_1480924623    2
8283430607403478479_1478937590    2
0294366291415691744_1474095585    2
                                 ..
2980506991821789109_1510135740    1
3923070059763144564_1518236632    1
8984849650591776257_1503603922    1
8475477677745573377_1475929564    1
4210022614684560446_1480851190    1
58282600542030043_1513361704      1
572488110370446145_1516211466     1
3389377224223544898_1470334556    1
0203556156849295981_1492981041    1
7394659352248238292_1513038640    1
9454096145280245780_1501912671    1
8698547767734470208_1477321562    1
5624728483479424268_1497381843    1
5109762314916296040_1514776425    1
7776487676220852990_1499965293    1
7142202419650516311_1491928625    1
3492678844263200788_1523456348    1
9413709118258338622_1514946328    1
1564234898268530945_1470500648    1
1244887182415815871_1513125104    1
8448716563684812434_1507513789    1
4799370136766571414_1506786626    1
6062501246913982528_1519741807    1
6973318484257211037_1487172932    1
2322228308958848327_1484886202    1
3329213972175027292_1473384293    1
6602331999849811740_1480520505    1
9430533899984086063_1498899691    1
4405040570277637842_1492650793    1
0145738630411789528_1486324663    1
Name: sessionId, Length: 1706613, dtype: int64


totals.hits
1      864064
2      237499
3      134435
4       80875
5       63687
6       46598
7       38137
8       29717
9       24999
10      20306
11      17506
12      14877
13      13033
14      11361
15      10017
16       8818
17       7682
18       6924
19       6149
20       5643
21       4938
22       4543
23       4056
24       3746
25       3400
26       3100
27       2698
28       2549
29       2317
30       2257
        ...
233         1
228         1
183         1
217         1
216         1
186         1
212         1
210         1
204         1
202         1
241         1
244         1
291         1
245         1
283         1
282         1
281         1
280         1
278         1
276         1
273         1
265         1
260         1
259         1
252         1
251         1
250         1
249         1
246         1
221         1
Name: totals.hits, Length: 297, dtype: int64


totals.pageviews
1.0      876328
2.0      249794
3.0      142896
4.0       86666
5.0       64712
6.0       47721
7.0       37751
8.0       29586
9.0       24153
10.0      19228
11.0      16510
12.0      13414
13.0      11543
14.0       9946
15.0       8512
16.0       7273
17.0       6399
18.0       5611
19.0       4798
20.0       4209
21.0       3855
22.0       3447
23.0       2964
24.0       2680
25.0       2385
26.0       2239
27.0       1903
28.0       1832
29.0       1484
30.0       1435
          ...
194.0         1
166.0         1
159.0         1
168.0         1
171.0         1
173.0         1
174.0         1
155.0         1
154.0         1
186.0         1
151.0         1
189.0         1
190.0         1
191.0         1
195.0         1
230.0         1
196.0         1
197.0         1
198.0         1
200.0         1
201.0         1
142.0         1
210.0         1
213.0         1
215.0         1
219.0         1
220.0         1
223.0         1
162.0         1
500.0         1
Name: totals.pageviews, Length: 230, dtype: int64


totals.transactionRevenue
1.699000e+07    256
1.899000e+07    189
3.359000e+07    187
4.479000e+07    170
1.359000e+07    135
5.599000e+07    122
1.999000e+07    116
1.599000e+07     98
1.519000e+07     93
1.919000e+07     92
1.099000e+07     84
5.999000e+07     81
2.499000e+07     77
7.999000e+07     65
2.719000e+07     64
2.718000e+07     62
3.398000e+07     54
3.999000e+07     51
6.718000e+07     46
1.990000e+06     44
2.878000e+07     40
2.199000e+07     40
3.598000e+07     39
3.039000e+07     39
1.759000e+07     38
3.038000e+07     37
1.299000e+07     37
2.798000e+07     37
3.199000e+07     37
9.999000e+07     35
               ...
1.692700e+08      1
1.059000e+07      1
1.694500e+08      1
1.695700e+08      1
1.684900e+08      1
1.696000e+08      1
1.696100e+08      1
1.696800e+08      1
1.697000e+08      1
1.697500e+08      1
1.698000e+08      1
1.687300e+08      1
1.682500e+08      1
1.669500e+08      1
1.674800e+08      1
1.669700e+08      1
1.670900e+08      1
1.671500e+08      1
1.671700e+08      1
1.671800e+08      1
1.674000e+08      1
1.675500e+08      1
2.687400e+09      1
1.048000e+07      1
1.677500e+08      1
1.678700e+08      1
1.679300e+08      1
1.679400e+08      1
1.679600e+08      1
1.173700e+08      1
Name: totals.transactionRevenue, Length: 5332, dtype: int64


trafficSource.campaign
(not set)                                                               1594274
Data Share Promo                                                          32914
1000557 | GA | US | en | Hybrid | GDN Text+Banner | AS                    24410
AW - Dynamic Search Ads Whole Site                                        23177
1000557 | GA | US | en | Hybrid | GDN Remarketing                         15149
AW - Accessories                                                           9715
Smart Display Campaign                                                     2664
"google + redesign/Accessories March 17" All Users Similar Audiences       1179
Page: contains "/google+redesign/drinkware" Similar Audiences               611
"google + redesign/Accessories March 17" All Users                          562
Sports & Fitness/Health & Fitness Buffs                                     463
Run of Network Line Item                                                    428
test-liyuhz                                                                 392
Media & Entertainment/Movie Lovers                                          311
Technology/Mobile Enthusiasts                                               310
Technology/Technophiles                                                     290
Value Shoppers Affinity                                                     208
Media & Entertainment/Music Lovers                                          195
Page: contains "/google+redesign/drinkware"                                 192
Page: contains "/google+redesign/office" Similar Audiences                  182
Lifestyles & Hobbies/Shutterbugs                                            131
AW - Electronics                                                             97
Page: contains "/google+redesign/electronics"                                97
Page: contains "/google+redesign/office"                                     93
Page: contains "/google+redesign/bags" All Users                             83
AW - Apparel                                                                 58
Retail (DO NOT EDIT owners nophakun and tianyu)                              50
Page: contains "/google+redesign/bags" All Users Similar Audiences           42
Page: contains "/google+redesign/bags" 1 Day                                 27
(direct)                                                                     12
Page: contains "/google+redesign/electronics" Similar Audiences               9
"google + redesign/Accessories March 17" 1 Day                                5
All Products                                                                  4
Gmail type campaign                                                           2
Data Share                                                                    1
Name: trafficSource.campaign, dtype: int64


trafficSource.medium
organic      738963
referral     566278
(none)       273134
cpc           87850
affiliate     32915
cpm            9060
(not set)       137
Name: trafficSource.medium, dtype: int64


trafficSource.source

google                                               817892
youtube.com                                          329450
(direct)                                             273152
mall.googleplex.com                                  120541
analytics.google.com                                  37436
Partners                                              32931
sites.google.com                                       9072
google.com                                             8341
gdeals.googleplex.com                                  8298
m.facebook.com                                         6737
dfa                                                    6704
baidu                                                  4971
reddit.com                                             4092
facebook.com                                           3584
googleads.g.doubleclick.net                            3539
qiita.com                                              3394
bing                                                   3368
quora.com                                              3032
mail.google.com                                        2558
yahoo                                                  2436
siliconvalley.about.com                                2097
groups.google.com                                      2009
t.co                                                   2005
l.facebook.com                                         1529
moma.corp.google.com                                   1507
blog.golang.org                                        1382
tpc.googlesyndication.com                              1277
dealspotr.com                                           750
support.google.com                                      676
productforums.google.com                                672
                                                      ...
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9845         1
smile.amazon.com                                          1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9860         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9861         1
blackboard.neu.edu                                        1
blackboard.towson.edu                                     1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9869         1
hosted.verticalresponse.com                               1
es.yhs4.search.yahoo.com                                  1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9894         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9896         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9892         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9898         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9899         1
mycrabnet.googleplex.com                                  1
de.pinterest.com                                          1
papyrus.mtv.corp.google.com:9011                          1
efbr4.prod.google.com:14159                               1
icloud.com                                                1
0.shared.bow.cat2.ads-bow.qk.borg.google.com:9873         1
intranet                                                  1
pinpoint.corp.google.com                                  1
co.search.yahoo.com                                       1
lms.uconn.edu                                             1
google.com.ar                                             1
yt-go-12345.googleplex.com                                1
tumblr.com                                                1
0.shared.bow.cat2.ads-bow.qk.borg.google.com:9846         1
invincible.mtv.corp.google.com:8080                       1
0.shared.bow.cat2.ads-bow.vk.borg.google.com:9878         1
Name: trafficSource.source, Length: 500, dtype: int64


visitId
1513124981    28
1513125098    28
1513124949    26
1513125008    24
1513124997    24
1513125049    23
1513125079    23
1513125073    22
1513125026    22
1513125004    22
1513125074    22
1513125057    22
1513124958    21
1513124969    21
1513125064    21
1513125020    21
1513125066    21
1513124983    21
1513125053    21
1513125104    21
1513124957    20
1513125016    20
1513125095    20
1513125078    20
1513125002    20
1513124942    20
1513125068    20
1513125038    20
1513125045    20
1513125090    19
              ..
1474671073     1
1478336479     1
1470470628     1
1474662885     1
1505998506     1
1479014824     1
1474390394     1
1525121447     1
1486971259     1
1507940732     1
1470185855     1
1491509635     1
1474730372     1
1516697992     1
1499914635     1
1504104845     1
1514654981     1
1495712143     1
1504065936     1
1520841105     1
1490749456     1
1487274391     1
1495693720     1
1470523802     1
1502445815     1
1510173007     1
1478994338     1
1525129635     1
1514287871     1
1505759234     1
Name: visitId, Length: 1665802, dtype: int64


visitNumber
1      1307430
2       182542
3        70962
4        37886
5        23314
6        15702
7        11194
8         8338
9         6350
10        5018
11        4007
12        3283
13        2729
14        2311
15        1981
16        1737
17        1512
18        1346
19        1195
20        1073
21         955
22         866
23         766
24         716
25         661
26         603
27         549
28         506
29         466
30         436
        ...
332          1
394          1
368          1
367          1
366          1
365          1
347          1
348          1
352          1
393          1
395          1
415          1
407          1
414          1
413          1
412          1
411          1
410          1
409          1
408          1
406          1
398          1
405          1
404          1
351          1
402          1
401          1
456          1
399          1
457          1
Name: visitNumber, Length: 457, dtype: int64


visitStartTime
1513124981    28
1513125098    28
1513124949    26
1513124997    24
1513125008    24
1513125049    23
1513125079    23
1513125074    22
1513125004    22
1513125073    22
1513125026    22
1513125057    22
1513124969    21
1513124958    21
1513125053    21
1513125020    21
1513125064    21
1513125104    21
1513124983    21
1513125066    21
1513125068    20
1513125045    20
1513125095    20
1513125078    20
1513125038    20
1513125002    20
1513125016    20
1513124957    20
1513124942    20
1513124971    19
              ..
1514378533     1
1476311057     1
1489229101     1
1514390831     1
1481497836     1
1523418343     1
1498293395     1
1516369021     1
1523479705     1
1523471517     1
1502588066     1
1506049395     1
1524108053     1
1481194224     1
1481585841     1
1481579700     1
1473186998     1
1485767863     1
1498377402     1
1519342781     1
1477225666     1
1506596045     1
1473039566     1
1510786255     1
1519140048     1
1477967087     1
1523324117     1
1510767832     1
1514960089     1
1505759234     1
Name: visitStartTime, Length: 1667423, dtype: int64

#### Creating date variables

In [14]:
all_data_upd['year'] = all_data_upd.date.apply(lambda x: int(str(x)[0:4]))
all_data_upd['month'] = all_data_upd.date.apply(lambda x: int(str(x)[4:6]))
all_data_upd['day'] = all_data_upd.date.apply(lambda x: int(str(x)[6:8]))

#### Cleaning and imputing train and test separately - since we do not want to use the test data to impute the training data

In [15]:
train_upd = all_data_upd[all_data_upd.data_source == 'train']
test_upd = all_data_upd[all_data_upd.data_source == 'test']

print(train_upd.shape)
print(test_upd.shape)

(903653, 27)
(804684, 27)

#### Train

In [16]:
train_upd.head()

,channelGrouping,data_source,date,device.browser,device.deviceCategory,device.operatingSystem,fullVisitorId,geoNetwork.city,geoNetwork.continent,geoNetwork.country,...,totals.transactionRevenue,trafficSource.campaign,trafficSource.medium,trafficSource.source,visitId,visitNumber,visitStartTime,year,month,day
0,Organic Search,train,20160902,Chrome,desktop,Windows,1131660440785968503,Izmir,Asia,Turkey,...,NaN,(not set),organic,google,1472830385,1,1472830385,2016,9,2
1,Organic Search,train,20160902,Firefox,desktop,Macintosh,377306020877927890,not available in demo dataset,Oceania,Australia,...,NaN,(not set),organic,google,1472880147,1,1472880147,2016,9,2
2,Organic Search,train,20160902,Chrome,desktop,Windows,3895546263509774583,Madrid,Europe,Spain,...,NaN,(not set),organic,google,1472865386,1,1472865386,2016,9,2
3,Organic Search,train,20160902,UC Browser,desktop,Linux,4763447161404445595,not available in demo dataset,Asia,Indonesia,...,NaN,(not set),organic,google,1472881213,1,1472881213,2016,9,2
4,Organic Search,train,20160902,Chrome,mobile,Android,27294437909732085,not available in demo dataset,Europe,United Kingdom,...,NaN,(not set),organic,google,1472822600,2,1472822600,2016,9,2

In [17]:
## Cleaning the character columns in the data

#Float columns
float_cols = []


for each in train_upd.columns:
    
    if(each == 'data_source'):
        continue
        
    if(train_upd[each].dtype == 'O' and len(train_upd[each].unique()) < 500000):
        print(each)
        ### Skipping the values are actually numeric or float
        
        if( not (len(pd.to_numeric(train_upd[each],errors = 'coerce').unique()) < 0.5 * len(train_upd[each].unique())) ):
            train_upd.loc[:,each] = train_upd[each].fillna(train_upd[each].mean())
            float_cols.append(each)
            
        else:


            print(len(train_upd[each].unique()))
            train_upd.loc[:,each] = train_upd[each].apply(lambda x: x.lower().strip())
            extreme_values = train_upd[each].value_counts()[train_upd[each].value_counts() < 10].index

            ## Replacing the outliers (extreme) values with 'Others'

            train_upd.loc[:,each] = train_upd[each].apply(lambda x: np.where(x in extreme_values, 'Others',x))

channelGrouping
8

/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

device.browser
54
device.deviceCategory
3
device.operatingSystem
20
geoNetwork.city
649
geoNetwork.continent
6
geoNetwork.country
222
geoNetwork.metro
94
geoNetwork.networkDomain
28064
geoNetwork.region
376
geoNetwork.subContinent
23
trafficSource.campaign
10
trafficSource.medium
7
trafficSource.source
380

#### Test

In [18]:
## Cleaning the character columns in the data

for each in test_upd.columns:
    
    
    if(each == 'data_source'):
        continue
    
    print(each)
    if(test_upd[each].dtype == 'O' and len(test_upd[each].unique()) < 500000):
            
        ### Skipping the values are actually numeric or float
        
        ### Identifying the columns as numeric/float as per the training data
        if(each in float_cols):
            
            train_upd[each] = train_upd[each].fillna(train_upd[each].mean())
        else:


            print(len(train_upd[each].unique()))
            train_upd[each] = train_upd[each].apply(lambda x: x.lower().strip())
            extreme_values = train_upd[each].value_counts()[train_upd[each].value_counts() < 10].index

            ## Replacing the outliers (extreme) values with 'Others'

            train_upd[each] = train_upd[each].apply(lambda x: np.where(x in extreme_values, 'Others',x))

channelGrouping
8

/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

date
device.browser
27
device.deviceCategory
3
device.operatingSystem
15
fullVisitorId
geoNetwork.city
482
geoNetwork.continent
6
geoNetwork.country
188
geoNetwork.metro
79
geoNetwork.networkDomain
3017
geoNetwork.region
318
geoNetwork.subContinent
23
sessionId
totals.hits
totals.pageviews
totals.transactionRevenue
trafficSource.campaign
9
trafficSource.medium
7
trafficSource.source
124
visitId
visitNumber
visitStartTime
year
month
day

#### Combining the data again

In [19]:
all_data_upd = pd.concat([train_upd,test_upd], axis = 0)

In [20]:
## Removing 'geoNetwork.networkDomain' column for now, since it has a lot of categories - over 3000

all_data_upd = all_data_upd.drop(['device.browser','geoNetwork.metro','geoNetwork.networkDomain','geoNetwork.region','trafficSource.source','geoNetwork.city','geoNetwork.country'], axis = 1)
all_data_upd.shape

(1708337, 20)

#### Dividing the data into train and test

In [21]:
all_data_upd['totals.transactionRevenue'] = all_data_upd['totals.transactionRevenue'].fillna(0)
all_data_upd = all_data_upd.fillna(0)

In [22]:
### Removing id columns
id_cols = ['sessionId','fullVisitorId','visitId','date']
all_data_dummies = pd.get_dummies(all_data_upd.drop(id_cols, axis = 1), dummy_na = True)

In [23]:
all_data_dummies.shape

(1708337, 175)

#### Saving the transformed train data

In [24]:
# all_data_dummies.to_csv('all_data_dummies.csv', index = False, encoding = 'utf8')
#all_data_dummies = pd.read_csv("all_data_dummies.csv", encoding = 'utf8')

In [25]:
all_data_dummies.shape

(1708337, 175)

In [26]:
train_dummies = all_data_dummies[all_data_dummies.data_source_train == 1]
test_dummies = all_data_dummies[all_data_dummies.data_source_test == 1]

# train_dummies = all_data_upd[all_data_upd.data_source == 'train']
# test_dummies = all_data_upd[all_data_upd.data_source == 'test']

In [27]:
train_dummies = train_dummies.drop(['data_source_train','data_source_test','data_source_nan'], axis = 1)
test_dummies = test_dummies.drop(['data_source_train','data_source_test','data_source_nan','totals.transactionRevenue'], axis = 1)

#train_dummies = train_dummies.drop(['data_source'], axis = 1)
#test_dummies = test_dummies.drop(['data_source','totals.transactionRevenue'], axis = 1)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(train_dummies.drop(['totals.transactionRevenue'], axis = 1), \
                  train_dummies['totals.transactionRevenue'],test_size = 0.2, random_state = 9)

In [29]:
X_train.head()

,totals.hits,totals.pageviews,visitNumber,visitStartTime,year,month,day,channelGrouping_(Other),channelGrouping_(other),channelGrouping_Affiliates,...,trafficSource.campaign_test-liyuhz,trafficSource.campaign_nan,trafficSource.medium_(none),trafficSource.medium_(not set),trafficSource.medium_affiliate,trafficSource.medium_cpc,trafficSource.medium_cpm,trafficSource.medium_organic,trafficSource.medium_referral,trafficSource.medium_nan
40485,4,4.0,1,1498884588,2017,6,30,0,0,0,...,0,0,0,0,0,0,0,0,1,0
784765,1,1.0,1,1501200752,2017,7,27,0,0,0,...,0,0,0,0,0,0,0,1,0,0
103499,1,1.0,1,1499169217,2017,7,4,0,0,0,...,0,0,0,0,0,0,0,1,0,0
363033,1,1.0,4,1482550584,2016,12,23,0,0,0,...,0,0,1,0,0,0,0,0,0,0
886064,3,2.0,5,1500310627,2017,7,17,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [30]:
print(X_train.shape)
print(y_train.shape)

(722922, 171)
(722922,)

In [31]:
lr_model = LinearRegression(n_jobs = -1)

In [32]:
lr_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [33]:
predict = lr_model.predict(X_train)
predict_test = lr_model.predict(X_test)

In [34]:
np.histogram(predict)

(array([716501,   5739,    539,     79,     37,     13,      1,      8,
             2,      3]),
 array([-1.25905828e+07,  4.04889368e+07,  9.35684564e+07,  1.46647976e+08,
         1.99727496e+08,  2.52807015e+08,  3.05886535e+08,  3.58966054e+08,
         4.12045574e+08,  4.65125094e+08,  5.18204613e+08]))

In [58]:
lmse = np.sum(np.log((y_train.values - np.where(predict < 1.04889368e+09, 0, predict)) ** 2 + 1))/len(y_train.values)
lmse

0.45331784935534464

In [64]:
lmse = np.sum(np.log((y_test.values - np.where(predict_test < 1.04889368e+9, 0, predict_test)) ** 2 + 1))/len(y_test.values)
lmse

0.4579103000800032

#### Predicting the test class

In [71]:
predict_actual_test = lr_model.predict(test_dummies)
predict_actual_t = np.log(np.where(predict_actual_test < 1e+9, 0,predict_actual_test)+1)

In [72]:
submission = pd.concat([test.fullVisitorId,pd.DataFrame(predict_actual_t)], axis = 1)
submission.columns.values[1]= 'PredictedLogRevenue'

In [73]:
submission_out = submission.groupby('fullVisitorId',as_index = False).sum()

In [74]:
submission_out.to_csv("kaggle_submission.csv", index = False)

#### Random forest

In [75]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
rf_classifier = RandomForestClassifier()

In [ ]:
#### To do:

## For visualiation: https://www.kaggle.com/pavansanagapati/simple-exploration-lgbm-model-lb-1-4187 
## Implement the globe

## For categorical features - implement the Encoders and proper imputation
## For columns with webties - extract the major website name (google.com/google.in have the same major content google)
## Numerical features - better imputation and try to create more variables


## Futher, implement a logistic regression and then perfrom a non-linear model on top