In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import gc
import sys

from pandas.io.json import json_normalize
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import os
os.getcwd()

'/home/mrk_ram108/Kaggle'

In [2]:
def load_df(csv_path, nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path, 
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [str(column)+"."+str(subcolumn) for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    print("Loaded {os.path.basename(csv_path)}. Shape: {df.shape}")
    return df

In [3]:
#train = load_df(os.getcwd()+'/train.csv')
#test = load_df()

#### Saving CSV files

In [4]:
#train.to_csv('train_extracted.csv',encoding='utf8')
train = pd.read_csv('train_extracted.csv',encoding='utf8')

/home/mrk_ram108/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Emtpy values

In [5]:
100 * float(train['totals.transactionRevenue'].isnull().sum())/len(train['totals.transactionRevenue'])

98.72572768529513

#### Analysis

In [6]:
train.drop([u'Unnamed: 0'], axis = 1, inplace = True)
train.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserSize,...,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.campaignCode,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,google + online,organic,NaN,google
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,True,(not provided),organic,NaN,google

In [7]:
train.visitNumber.describe()

count    903653.000000
mean          2.264897
std           9.283735
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max         395.000000
Name: visitNumber, dtype: float64

#### Finding columns with just one value in it

In [8]:
### Selecting columns with just one unique value and those with NULL values greater than 50% of the dataset
drop_columns = [each for each in train.columns if len(train[each].unique()) <= 2 or train[each].isnull().sum() > 0.5 * train.shape[0]]
drop_columns = [each for each in drop_columns if each != 'totals.transactionRevenue']

#### Response variable

In [9]:
train['totals.transactionRevenue'] = pd.to_numeric(train['totals.transactionRevenue'])
train['totals.transactionRevenue'].describe()

count    1.151500e+04
mean     1.337448e+08
std      4.482852e+08
min      1.000000e+04
25%      2.493000e+07
50%      4.945000e+07
75%      1.076550e+08
max      2.312950e+10
Name: totals.transactionRevenue, dtype: float64

In [10]:
%whos

Variable           Type         Data/Info
-----------------------------------------
LinearRegression   ABCMeta      <class 'sklearn.linear_mo<...>l.base.LinearRegression'>
datetime           type         <type 'datetime.datetime'>
drop_columns       list         n=32
each               unicode      trafficSource.referralPath
gc                 module       <module 'gc' (built-in)>
json               module       <module 'json' from '/hom<...>on2.7/json/__init__.pyc'>
json_normalize     function     <function json_normalize at 0x7f598c7fcb90>
load_df            function     <function load_df at 0x7f59873ea500>
np                 module       <module 'numpy' from '/ho<...>ages/numpy/__init__.pyc'>
os                 module       <module 'os' from '/home/<...>a2/lib/python2.7/os.pyc'>
pd                 module       <module 'pandas' from '/h<...>ges/pandas/__init__.pyc'>
plt                module       <module 'matplotlib.pyplo<...>s/matplotlib/pyplot.pyc'>
preprocessing      module       <module 'sklearn.preproce<...>processing/__init__.pyc'>
sns                module       <module 'seaborn' from '/<...>es/seaborn/__init__.pyc'>
sys                module       <module 'sys' (built-in)>
train              DataFrame           channelGrouping   <...>903653 rows x 55 columns]
train_test_split   function     <function train_test_split at 0x7f598788a488>

In [11]:
train_upd = train.drop(drop_columns, axis = 1)

In [12]:
for each in train_upd.columns:
    print(each)
    print(train_upd[each].value_counts())
    print("\n")

channelGrouping
Organic Search    381561
Social            226117
Direct            143026
Referral          104838
Paid Search        25326
Affiliates         16403
Display             6262
(Other)              120
Name: channelGrouping, dtype: int64


date
20161128    4807
20161115    4685
20161114    4466
20161130    4435
20161026    4375
20161129    4337
20161116    4334
20161004    4322
20161205    4265
20170426    4224
20161201    4200
20161027    4162
20161121    4143
20161117    4074
20161024    4063
20161110    4055
20161103    4014
20161102    3960
20161122    3942
20161108    3899
20161025    3842
20161107    3832
20161031    3827
20161123    3805
20161028    3791
20161005    3770
20161124    3770
20161125    3759
20161020    3755
20161109    3752
            ...
20160813    1596
20170430    1594
20161001    1589
20161226    1586
20170115    1576
20170429    1566
20170611    1555
20170204    1549
20170423    1548
20170610    1545
20170604    1534
20170114    1526
20170205    1522
20170624    1510
20170416    1507
20170415    1506
20170527    1502
20170528    1463
20170618    1432
20170507    1400
20170603    1399
20170617    1391
20161225    1386
20170506    1383
20170101    1364
20170514    1290
20170513    1251
20161230    1232
20161224    1231
20161231    1211
Name: date, Length: 366, dtype: int64


fullVisitorId
1957458976293878100    262
824839726118485274     245
1856749147915772585    188
3608475193341679870    186
3269834865385146569    152
7634897085866546110    145
720311197761340948     141
232377434237234751     134
4038076683036146727    132
3694234028523165868    122
949718915643445721     119
3525537916960843419    115
3148617623907142276    103
6018775317735347795    103
6254908847172458133    101
2194592743396253647    100
9801276214964695322    100
9609104828919391966     98
7498695963354635199     98
3937673380007666721     90
2082625651279391786     82
7813149961404844386     80
7445235885559107095     80
4913801338365738862     77
4578640586284138624     72
9534537897118577344     70
678102787097322550      70
3041133261614133977     70
6588500311054802771     68
4731929753431036485     67
                      ...
3169504330470522041      1
8053885165774959082      1
7995800462768951103      1
3060092078913115330      1
8118405301477725377      1
3354045107038475455      1
5280843810449912786      1
418248094280996028       1
4785888029913535675      1
9242546822420191990      1
222606146411273877       1
4215477712546583772      1
5551383621165274344      1
268665176172680435       1
5869251175709824242      1
6698811436625639282      1
4279583337312112084      1
798979819088532718       1
5955055532865377517      1
4803030071451391880      1
2994503264815961319      1
1545079134481962205      1
1414717111799534822      1
2678765805784159460      1
5869392325343073507      1
6916946785179686114      1
754917625389222543       1
8524495977728459576      1
363250867105322206       1
5011441667895034342      1
Name: fullVisitorId, Length: 723803, dtype: int64


sessionId
8277237916724658881_1480922172    2
7921961460120460996_1497336673    2
0705274998612596704_1471157635    2
5677530275901223031_1473922626    2
3354399941800427193_1481355758    2
5091436934168139505_1478676947    2
6614426522659935169_1470812394    2
418923688669365453_1494572163     2
3362028669188786239_1492498561    2
9107294226500038587_1497681738    2
5311492239652942005_1500618567    2
2140211103751892073_1483689044    2
4601771030829851329_1494226155    2
2067822453222753290_1485331110    2
8403671440662755409_1477460635    2
1606784249995409017_1473316813    2
0386175178679054692_1497163491    2
3243512505311500350_1483515727    2
6127228979305253706_1498114691    2
8289905218281015480_1489219054    2
0843652805982784552_1476255451    2
4324452432036400498_1483430378    2
1376288671885826730_1472885970    2
6401607866929740388_1496041103    2
9855718487924639788_1497509659    2
7664159557830309676_1497077805    2
7221100784390775292_1490943563    2
0192761237151037034_1472367265    2
3561562072180662620_1500359977    2
6095699038565166927_1481442620    2
                                 ..
5541755378951807300_1481044098    1
676336100157777777_1492712039     1
0422139341679263303_1494917148    1
7227806569934879650_1477997318    1
8580115771758355262_1501332272    1
4389850379059945006_1477156084    1
3907688879102137310_1476002117    1
0281952976428623195_1496157768    1
853098633014712543_1491362000     1
559359027417019742_1483979669     1
6370053235264757148_1474746023    1
4729834351943658757_1470871946    1
1347815086938915493_1493266212    1
5892800885198990371_1477836422    1
5473453042306077952_1493266458    1
018811103491732603_1478579252     1
8423012994571590360_1476952240    1
6239753991148091713_1493304661    1
1502964128595693564_1491031924    1
7463144083512002022_1472193860    1
3183034358822552503_1486959913    1
8565736886599899441_1481930521    1
8227985348631243_1470236156       1
759708832161195286_1499585937     1
8583292253271477957_1477509477    1
0133469410509832070_1477432685    1
3000023622788791216_1478327013    1
0583277426143693078_1481940955    1
8849311828460547920_1475087519    1
0145738630411789528_1486324663    1
Name: sessionId, Length: 902755, dtype: int64


visitId
1493146175    8
1484649802    6
1478345904    6
1481369525    6
1494374199    5
1500856602    5
1495031359    5
1475719086    4
1484649800    4
1481874207    4
1481365730    4
1489390306    4
1473406997    4
1494958069    4
1488190236    4
1493406494    4
1494590623    4
1499778118    4
1479214853    4
1474613955    4
1490899032    4
1500856605    4
1485823856    4
1491913766    4
1489390296    4
1490274628    4
1487580558    4
1490264767    4
1479668456    4
1490384972    4
             ..
1478768173    1
1470381612    1
1482952234    1
1497859675    1
1477085394    1
1489481310    1
1491160706    1
1484899987    1
1497484946    1
1484904081    1
1478614672    1
1501642380    1
1500254858    1
1497435786    1
1476466313    1
1484879493    1
1489061507    1
1483793003    1
1491576415    1
1472640637    1
1487322748    1
1495465966    1
1487337077    1
1481501400    1
1499868782    1
1472597610    1
1472599657    1
1491496550    1
1472613986    1
1497372675    1
Name: visitId, Length: 886303, dtype: int64


visitNumber
1      703060
2       92548
3       35843
4       19157
5       11615
6        7677
7        5413
8        4031
9        3084
10       2415
11       1936
12       1573
13       1292
14       1092
15        928
16        809
17        699
18        611
19        541
20        497
21        446
22        399
23        355
24        340
25        304
26        272
27        245
28        223
29        203
30        188
        ...
310         1
304         1
313         1
314         1
316         1
290         1
394         1
327         1
328         1
329         1
333         1
334         1
335         1
337         1
352         1
338         1
339         1
340         1
341         1
342         1
343         1
344         1
345         1
346         1
347         1
306         1
349         1
350         1
351         1
395         1
Name: visitNumber, Length: 384, dtype: int64


visitStartTime
1493146175    8
1478345904    6
1484649802    6
1481369525    6
1494374199    5
1500856602    5
1495031359    5
1488190236    4
1477470782    4
1478942540    4
1490264767    4
1487580558    4
1473406997    4
1489390306    4
1481365730    4
1490255839    4
1490899032    4
1490384972    4
1475719086    4
1500856591    4
1481874207    4
1490264449    4
1500856605    4
1491913766    4
1494590623    4
1494958069    4
1478243627    4
1490384962    4
1500880897    4
1473406994    4
             ..
1477332834    1
1483716445    1
1475329884    1
1500100509    1
1485330337    1
1479672194    1
1485529024    1
1475080150    1
1479278548    1
1491849170    1
1481367504    1
1477126095    1
1489713101    1
1483411402    1
1479239623    1
1493923781    1
1493911491    1
1483255742    1
1493729188    1
1493745596    1
1479051195    1
1481009879    1
1489541049    1
1483833927    1
1481830448    1
1485371317    1
1476984756    1
1483222958    1
1485316008    1
1497372675    1
Name: visitStartTime, Length: 887159, dtype: int64


device.browser
Chrome                                         620364
Safari                                         182245
Firefox                                         37069
Internet Explorer                               19375
Edge                                            10205
Android Webview                                  7865
Safari (in-app)                                  6850
Opera Mini                                       6139
Opera                                            5643
UC Browser                                       2427
YaBrowser                                        2096
Coc Coc                                           727
Amazon Silk                                       561
Android Browser                                   553
Mozilla Compatible Agent                          374
MRCHROME                                          263
Maxthon                                           246
BlackBerry                                        184
Nintendo Browser                                  140
Puffin                                             93
Nokia Browser                                      67
Iron                                               33
LYF_LS_4002_12                                     21
SeaMonkey                                          15
Seznam                                             11
Mozilla                                            11
Apple-iPhone7C2                                     9
(not set)                                           8
0                                                   7
Nichrome                                            7
osee2unifiedRelease                                 5
Lunascape                                           5
DASH_JR_3G                                          4
ThumbSniper                                         3
no-ua                                               3
LYF_LS_4002_11                                      3
NokiaE52-1                                          2
Android Runtime                                     2
MQQBrowser                                          2
YE                                                  2
Changa 99695759                                     1
CSM Click                                           1
Hisense M20-M_LTE                                   1
IE with Chrome Frame                                1
ADM                                                 1
DoCoMo                                              1
Konqueror                                           1
HTC802t_TD                                          1
[Use default User-agent string] LIVRENPOCHE         1
subjectAgent: NoticiasBoom                          1
Reddit                                              1
User Agent                                          1
TCL P500M                                           1
M5                                                  1
Name: device.browser, dtype: int64


device.deviceCategory
desktop    664479
mobile     208725
tablet      30449

Name: device.deviceCategory, dtype: int64


device.operatingSystem
Windows          350072
Macintosh        253938
Android          123892
iOS              107665
Linux             35034
Chrome OS         26337
(not set)          4695
Windows Phone      1216
Samsung             280
BlackBerry          218
Nintendo Wii        100
Firefox OS           89
Xbox                 66
Nintendo WiiU        35
FreeBSD               9
Nokia                 2
OpenBSD               2
SunOS                 1
NTT DoCoMo            1
Nintendo 3DS          1
Name: device.operatingSystem, dtype: int64


geoNetwork.city
not available in demo dataset    508229
Mountain View                     40884
(not set)                         34262
New York                          26371
San Francisco                     20329
Sunnyvale                         13086
London                            12607
San Jose                          10295
Los Angeles                        8670
Bangkok                            7709
Chicago                            7444
Ho Chi Minh City                   7342
Istanbul                           6330
Bengaluru                          5468
Toronto                            5223
Hanoi                              5032
Seattle                            5025
Sydney                             4926
Dublin                             4877
Sao Paulo                          4106
Mumbai                             4099
Chennai                            4090
Paris                              4013
Hyderabad                          3934
Austin                             3790
Tel Aviv-Yafo                      3542
Hong Kong                          3508
Jakarta                            3338
Singapore                          3299
Warsaw                             3288
                                  ...
Miami Beach                           6
Carrollton                            6
Newark                                6
Hermosillo                            6
Bristol                               6
Sandy Springs                         6
Watford                               6
Thane                                 6
Chisinau                              6
Wollongong                            6
Amherst                               6
Beirut                                6
Winnipeg                              6
Vila Velha                            6
Netanya                               6
Mueang Phitsanulok District           6
Orem                                  6
Pryor                                 6
Los Gatos                             6
Aydin                                 6
Ha Tinh                               6
Marlboro                              6
Kumamoto                              5
San Salvador                          5
Douglasville                          5
Deep River                            5
Campbell                              5
Daly City                             4
Bozeman                               3
Boise                                 3
Name: geoNetwork.city, Length: 649, dtype: int64


geoNetwork.continent
Americas     450377
Asia         223698
Europe       198311
Oceania       15054
Africa        14745
(not set)      1468
Name: geoNetwork.continent, dtype: int64


geoNetwork.country
United States               364744
India                        51140
United Kingdom               37393
Canada                       25869
Vietnam                      24598
Turkey                       20522
Thailand                     20123
Germany                      19980
Brazil                       19783
Japan                        19731
France                       15832
Mexico                       13225
Taiwan                       12996
Australia                    12698
Russia                       11662
Spain                        11658
Netherlands                  11453
Italy                        11332
Poland                        9693
Indonesia                     9273
Philippines                   9244
Singapore                     7172
Ireland                       6493
Malaysia                      6439
Romania                       6428
Ukraine                       5577
Israel                        5563
Peru                          5546
Sweden                        5315
South Korea                   5237
                             ...
Timor-Leste                      7
Liechtenstein                    7
Lesotho                          6
Antigua & Barbuda                5
British Virgin Islands           5
Turkmenistan                     5
Greenland                        5
Caribbean Netherlands            4
Guinea-Bissau                    4
Central African Republic         4
San Marino                       4
Equatorial Guinea                4
Congo - Brazzaville              3
Isle of Man                      3
Seychelles                       3
Cook Islands                     3
Vanuatu                          3
Dominica                         3
Comoros                          2
Marshall Islands                 2
Norfolk Island                   1
St. Pierre & Miquelon            1
Samoa                            1
São Tomé & Príncipe              1
St. Martin                       1
Åland Islands                    1
St. Barthélemy                   1
Anguilla                         1
Eritrea                          1
American Samoa                   1
Name: geoNetwork.country, Length: 222, dtype: int64


geoNetwork.metro
not available in demo dataset                508229
(not set)                                    201766
San Francisco-Oakland-San Jose CA             95913
New York NY                                   26917
London                                        12571
Los Angeles CA                                 9995
Seattle-Tacoma WA                              7642
Chicago IL                                     7585
Austin TX                                      3790
Washington DC (Hagerstown MD)                  3380
Boston MA-Manchester NH                        2628
Houston TX                                     2475
Atlanta GA                                     2463
Detroit MI                                     2403
Roanoke-Lynchburg VA                           2227
Dallas-Ft. Worth TX                            2012
San Diego CA                                   1364
Portland OR                                    1319
Pittsburgh PA                                  1076
Denver CO                                       877
Philadelphia PA                                 800
Phoenix AZ                                      537
Charlotte NC                                    525
Columbus OH                                     517
La Crosse-Eau Claire WI                         396
San Antonio TX                                  393
Orlando-Daytona Beach-Melbourne FL              360
JP_KANTO                                        279
North West                                      271
Minneapolis-St. Paul MN                         197
                                              ...
Utica NY                                         23
North Scotland                                   21
Honolulu HI                                      21
HTV Wales                                        20
Albany-Schenectady-Troy NY                       19
Madison WI                                       17
Greenville-Spartanburg-Asheville-Anderson        16
Colorado Springs-Pueblo CO                       16
Wheeling WV-Steubenville OH                      14
HTV West                                         13
Charlottesville VA                               13
JP_OTHER                                         12
Abilene-Sweetwater TX                            10
Memphis TN                                       10
Mankato MN                                        9
Tri-Cities TN-VA                                  8
Springfield MO                                    8
Panama City FL                                    8
Lexington KY                                      8
Augusta GA                                        7
Tucson (Sierra Vista) AZ                          7
Syracuse NY                                       7
New Orleans LA                                    7
Providence-New Bedford,MA                         6
Tallahassee FL-Thomasville GA                     6
Rochester-Mason City-Austin,IA                    6
Springfield-Holyoke MA                            6
Chattanooga TN                                    6
Butte-Bozeman MT                                  3
Boise ID                                          3
Name: geoNetwork.metro, Length: 94, dtype: int64


geoNetwork.networkDomain
(not set)                244881
unknown.unknown          146034
comcast.net               28743
rr.com                    14827
verizon.net               13637
ttnet.com.tr              13228
comcastbusiness.net        9985
hinet.net                  7919
virginm.net                6414
3bb.co.th                  6046
prod-infinitum.com.mx      5960
cox.net                    5812
sbcglobal.net              5388
btcentralplus.com          5304
att.net                    5230
google.com                 5035
optonline.net              4972
totbb.net                  4895
vnpt.vn                    4508
asianet.co.th              4374
pldt.net                   4008
rima-tde.net               3963
amazonaws.com              3769
t-ipconnect.de             3656
telecomitalia.it           3571
qwest.net                  3534
airtelbroadband.in         3389
virtua.com.br              3318
bell.ca                    2904
ztomy.com                  2845
                          ...
blue.net                      1
cadigal.com.au                1
net3-tv.net                   1
rv-soft.eu                    1
hst.org.za                    1
unetspb.ru                    1
intek.cz                      1
sinclairdental.com            1
travelpoints.com              1
firmradio.net                 1
3c-gruppe.de                  1
coa.com.ph                    1
landmarkeducation.com         1
metri.re.kr                   1
ipex.cz                       1
medichico.com                 1
milieuinfo.be                 1
esvali.com                    1
ivygroup.cn                   1
virco.com                     1
evgh.com                      1
ap-media.pl                   1
olsps.com                     1
hktalhk.edu.hk                1
keyboardread.com              1
contugas.com.pe               1
cinnaminson.com               1
bmw.fr                        1
safiri.co.za                  1
ktct.cz                       1
Name: geoNetwork.networkDomain, Length: 28064, dtype: int64


geoNetwork.region
not available in demo dataset    508229
California                       107495
(not set)                         27827
New York                          26433
England                           13198
Texas                              8749
Bangkok                            7709
Washington                         7642
Illinois                           7585
Ho Chi Minh                        7250
Istanbul                           6330
Maharashtra                        6184
Ontario                            5997
Taipei City                        5789
Karnataka                          5476
Delhi                              5278
Hanoi                              5141
New South Wales                    4932
Tamil Nadu                         4632
Ile-de-France                      4338
State of Sao Paulo                 4189
Telangana                          3955
County Dublin                      3650
Tel Aviv District                  3633
Tokyo                              3341
Jakarta                            3338
Masovian Voivodeship               3288
Virginia                           3101
Community of Madrid                2937
Victoria                           2741
                                  ...
Assam                                 6
Oran Province                         6
Erzurum                               6
Nord-Pas-de-Calais                    6
Bremen                                6
Baja California                       6
Queretaro                             6
Lopburi                               6
Maha Sarakham                         6
Overijssel                            6
Beirut Governorate                    6
Binh Phuoc                            6
Lviv Oblast                           6
Guanajuato                            6
Leiria District                       6
Manitoba                              6
Oklahoma                              6
Ha Tinh Province                      6
State of Espirito Santo               6
Phu Tho Province                      6
Eskisehir Province                    6
Aydin Province                        6
Hradec Kralove Region                 6
Sonora                                6
Okinawa Prefecture                    6
Puebla                                6
Islamabad Capital Territory           6
San Salvador Department               5
Kumamoto Prefecture                   5
Montana                               3
Name: geoNetwork.region, Length: 376, dtype: int64


geoNetwork.subContinent

Northern America      390657
Southeast Asia         77800
Southern Asia          59321
Western Europe         59114
Northern Europe        58168
Eastern Asia           46919
Eastern Europe         45249
South America          41731
Western Asia           38443
Southern Europe        35780
Central America        15583
Australasia            14893
Northern Africa         7683
Western Africa          2573
Caribbean               2406
Southern Africa         2169
Eastern Africa          1927
(not set)               1468
Central Asia            1215
Middle Africa            393
Melanesia                 81
Micronesian Region        55
Polynesia                 25
Name: geoNetwork.subContinent, dtype: int64


totals.hits
1      446754
2      137952
3       70402
4       42444
5       30939
6       23918
7       19518
8       15484
9       12959
10      10640
11       9264
12       7879
13       6881
14       6194
15       5384
16       4716
17       4130
18       3755
19       3291
20       3064
21       2798
22       2477
23       2190
24       2126
25       1925
26       1718
27       1504
28       1406
29       1291
30       1289
        ...
202         1
199         1
210         1
198         1
216         1
217         1
195         1
194         1
224         1
228         1
232         1
233         1
184         1
238         1
268         1
239         1
240         1
183         1
243         1
244         1
246         1
247         1
249         1
250         1
251         1
181         1
180         1
259         1
204         1
262         1
Name: totals.hits, Length: 274, dtype: int64


totals.pageviews
1.0      452522
2.0      143770
3.0       73835
4.0       45192
5.0       33411
6.0       24688
7.0       19476
8.0       15272
9.0       12585
10.0      10104
11.0       8671
12.0       7097
13.0       6197
14.0       5291
15.0       4720
16.0       4010
17.0       3511
18.0       3150
19.0       2682
20.0       2409
21.0       2211
22.0       1949
23.0       1722
24.0       1567
25.0       1413
26.0       1318
27.0       1143
28.0       1091
29.0        875
30.0        873
          ...
168.0         1
195.0         1
210.0         1
215.0         1
191.0         1
300.0         1
190.0         1
189.0         1
219.0         1
223.0         1
208.0         1
186.0         1
164.0         1
233.0         1
333.0         1
245.0         1
270.0         1
174.0         1
173.0         1
275.0         1
196.0         1
136.0         1
232.0         1
305.0         1
166.0         1
309.0         1
162.0         1
197.0         1
327.0         1
249.0         1
Name: totals.pageviews, Length: 213, dtype: int64


totals.transactionRevenue
1.699000e+07    256
1.899000e+07    189
3.359000e+07    187
4.479000e+07    170
1.359000e+07    135
5.599000e+07    122
1.999000e+07    116
1.599000e+07     98
1.519000e+07     93
1.919000e+07     92
1.099000e+07     84
5.999000e+07     81
2.499000e+07     77
7.999000e+07     65
2.719000e+07     64
2.718000e+07     62
3.398000e+07     54
3.999000e+07     51
6.718000e+07     46
1.990000e+06     44
2.199000e+07     40
2.878000e+07     40
3.039000e+07     39
3.598000e+07     39
1.759000e+07     38
2.798000e+07     37
3.199000e+07     37
3.038000e+07     37
1.299000e+07     37
9.999000e+07     35
               ...
3.222400e+08      1
8.060000e+07      1
8.062000e+07      1
8.063000e+07      1
1.063200e+08      1
3.196100e+08      1
8.066000e+07      1
3.226600e+08      1
3.227400e+08      1
8.072000e+07      1
8.074000e+07      1
8.076000e+07      1
5.030000e+06      1
8.047000e+07      1
8.046000e+07      1
8.044000e+07      1
1.408000e+08      1
2.008000e+07      1
1.285000e+09      1
8.028000e+07      1
8.026000e+07      1
8.019000e+07      1
8.018000e+07      1
1.281730e+09      1
8.009000e+07      1
3.202000e+08      1
3.199000e+08      1
3.197500e+08      1
7.993000e+07      1
1.342200e+08      1
Name: totals.transactionRevenue, Length: 5332, dtype: int64


trafficSource.campaign
(not set)                                          865347
Data Share Promo                                    16403
AW - Dynamic Search Ads Whole Site                  14244
AW - Accessories                                     7070
test-liyuhz                                           392
AW - Electronics                                       96
Retail (DO NOT EDIT owners nophakun and tianyu)        50
AW - Apparel                                           46
All Products                                            4
Data Share                                              1
Name: trafficSource.campaign, dtype: int64


trafficSource.medium
organic      381561
referral     330955
(none)       143026
cpc           25326
affiliate     16403
cpm            6262
(not set)       120
Name: trafficSource.medium, dtype: int64


trafficSource.source
google                                               400788
youtube.com                                          212602
(direct)                                             143028
mall.googleplex.com                                   66416
Partners                                              16411
analytics.google.com                                  16172
dfa                                                    5686
google.com                                             4669
m.facebook.com                                         3365
baidu                                                  3356
sites.google.com                                       2983
facebook.com                                           2296
siliconvalley.about.com                                2097
reddit.com                                             2022
qiita.com                                              1813
quora.com                                              1546
bing                                                   1530
t.co                                                   1529
yahoo                                                  1480
mail.google.com                                        1457
gdeals.googleplex.com                                  1063
groups.google.com                                      1025
l.facebook.com                                          795
blog.golang.org                                         742
dealspotr.com                                           528
plus.google.com                                         524
moma.corp.google.com                                    419
docs.google.com                                         388
productforums.google.com                                364
google.co.jp                                            356
                                                      ...
x20web.corp.google.com                                    1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9892         1
cse.google.com                                            1
ixquick.com                                               1
google.com.pe                                             1
biztools.corp.google.com                                  1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9862         1
br.pinterest.com                                          1
search.snapdo.com                                         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9896         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9898         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9815         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9859         1
0.shared.bow.cat2.ads-bow.lf.borg.google.com:9860         1
0.shared.bow.cat2.ads-bow.lf.borg.google.com:9857         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9861         1
id.search.yahoo.com                                       1
yahoo.com                                                 1
0.shared.bow.cat2.ads-bow.qk.borg.google.com:9873         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9858         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9850         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9839         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9851         1
0.shared.bow.cat2.ads-bow.yw.borg.google.com:9856         1
collaborate.northwestern.edu                              1
de.pinterest.com                                          1
gdeals-stg.googleplex.com                                 1
newsstand.google.com                                      1
earth.google.com                                          1
msn                                                       1
Name: trafficSource.source, Length: 380, dtype: int64

In [13]:
## Cleaning the character columns in the data

for each in train_upd.columns:
    if(train_upd[each].dtype == 'O' and len(train_upd[each].unique()) < 500000):
        
        ### Skipping the values are actually numeric or float
        
        if( not (len(pd.to_numeric(train_upd[each],errors = 'coerce').unique()) < 0.5 * len(train_upd[each].unique())) ):
            train_upd[each] = train_upd[each].fillna(train_upd[each].mean())
        else:


            print(each)
            print(len(train_upd[each].unique()))
            train_upd[each] = train_upd[each].apply(lambda x: x.lower().strip())
            extreme_values = train_upd[each].value_counts()[train_upd[each].value_counts() < 10].index

            ## Replacing the outliers (extreme) values with 'Others'

            train_upd[each] = train_upd[each].apply(lambda x: np.where(x in extreme_values, 'Others',x))

channelGrouping
8
device.browser
54
device.deviceCategory
3
device.operatingSystem
20
geoNetwork.city
649
geoNetwork.continent
6
geoNetwork.country
222
geoNetwork.metro
94
geoNetwork.networkDomain
28064
geoNetwork.region
376
geoNetwork.subContinent
23
trafficSource.campaign
10
trafficSource.medium
7
trafficSource.source
380

#### Creating date variables

In [20]:
train_upd['year'] = train_upd.date.apply(lambda x: int(str(x)[0:4]))
train_upd['month'] = train_upd.date.apply(lambda x: int(str(x)[4:6]))
train_upd['day'] = train_upd.date.apply(lambda x: int(str(x)[6:8]))

In [22]:
## Removing 'geoNetwork.networkDomain' column for now, since it has a lot of categories - over 3000

#train_upd = train_upd.drop(['geoNetwork.networkDomain'], axis = 1)
train_upd.shape

(903653, 25)

#### Dividing the data into train and test

In [47]:
train_upd['totals.transactionRevenue'] = train_upd['totals.transactionRevenue'].fillna(0)
train_upd = train_upd.fillna(0)

In [48]:
train_upd.apply(lambda x: len(x.unique()))

channelGrouping                   8
date                            366
fullVisitorId                723803
sessionId                    902755
visitId                      886303
visitNumber                     384
visitStartTime               887159
device.browser                   27
device.deviceCategory             3
device.operatingSystem           15
geoNetwork.city                 482
geoNetwork.continent              6
geoNetwork.country              188
geoNetwork.metro                 79
geoNetwork.region               318
geoNetwork.subContinent          23
totals.hits                     274
totals.pageviews                214
totals.transactionRevenue      5333
trafficSource.campaign            9
trafficSource.medium              7
trafficSource.source            124
year                              2
month                            12
day                              31
dtype: int64

In [49]:
### Removing id columns
id_cols = ['sessionId','fullVisitorId','visitId']
train_dummies = pd.get_dummies(train_upd.drop(id_cols, axis = 1), dummy_na = True)

In [50]:
train_dummies.shape

(903653, 1311)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(train_dummies.drop(['totals.transactionRevenue'], axis = 1), \
                 train_dummies['totals.transactionRevenue'],test_size = 0.2, random_state = 9)

In [52]:
X_train.head()

,date,visitNumber,visitStartTime,totals.hits,totals.pageviews,year,month,day,channelGrouping_(other),channelGrouping_affiliates,...,trafficSource.source_tw.search.yahoo.com,trafficSource.source_uk.businessinsider.com,trafficSource.source_uk.search.yahoo.com,trafficSource.source_us.search.yahoo.com,trafficSource.source_vk.com,trafficSource.source_wap.sogou.com,trafficSource.source_wheretoget.it,trafficSource.source_yahoo,trafficSource.source_youtube.com,trafficSource.source_nan
40485,20170630,1,1498884588,4,4.0,2017,6,30,0,0,...,0,0,0,0,0,0,0,0,0,0
784765,20170727,1,1501200752,1,1.0,2017,7,27,0,0,...,0,0,0,0,0,0,0,0,0,0
103499,20170704,1,1499169217,1,1.0,2017,7,4,0,0,...,0,0,0,0,0,0,0,0,0,0
363033,20161223,4,1482550584,1,1.0,2016,12,23,0,0,...,0,0,0,0,0,0,0,0,0,0
886064,20170717,5,1500310627,3,2.0,2017,7,17,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
y_train.shape

(722922,)

In [54]:
lr_model = LinearRegression(n_jobs = -1)

In [65]:
#lr_model.fit(X_train.iloc[:,:250],y_train)

In [45]:
X_train.iloc[:,4].isnull().sum()

86